rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /properties/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /users/{document} {
      allow create: if request.auth.uid == document;
      allow read: if true;
      allow write: if request.auth.uid == document;
      allow delete: if request.auth.uid == document;
    }

    match /RoomInfo/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /RoomInfo/{parent}/RoomPrice/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/RoomPrice/{document} {
      allow read: if true;
    }


    match /RoomInfo/{parent}/RoomSize/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/RoomSize/{document} {
      allow read: if true;
    }


    match /RoomInfo/{parent}/RoomWaterDrainage/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/RoomWaterDrainage/{document} {
      allow read: if true;
    }


    match /RoomInfo/{parent}/RoomBathroom/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/RoomBathroom/{document} {
      allow read: if true;
    }


    match /RoomInfo/{parent}/RoomBasicOption/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/RoomBasicOption/{document} {
      allow read: if true;
    }


    match /RoomInfo/{parent}/RoomGarbageDisposal/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/RoomGarbageDisposal/{document} {
      allow read: if true;
    }


    match /RoomInfo/{parent}/RoomFloor/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/RoomFloor/{document} {
      allow read: if true;
    }


    match /RoomInfo/{parent}/RoomSecurity/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/RoomSecurity/{document} {
      allow read: if true;
    }


    match /RoomInfo/{parent}/RoomWindows/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/RoomWindows/{document} {
      allow read: if true;
    }


    match /RoomInfo/{parent}/RoomCleanliness/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/RoomCleanliness/{document} {
      allow read: if true;
    }


    match /RoomInfo/{parent}/RoomConvenience/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/RoomConvenience/{document} {
      allow read: if true;
    }


    match /RoomInfo/{parent}/RoomSoundProofing/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/RoomSoundProofing/{document} {
      allow read: if true;
    }


    match /RoomInfo/{parent}/RoomParkingArea/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/RoomParkingArea/{document} {
      allow read: if true;
    }


    match /RoomInfo/{parent}/RoomSmokingArea/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/RoomSmokingArea/{document} {
      allow read: if true;
    }

  }
}
